$light-blue: #add8e6;
$medium-grey: #313335;
$transparent: rgba(0,0,0,0);

$screen-sm: 800px;

body {
  padding: 2px;
  background: lighten($medium-grey, 88%);
  font-family: sans-serif;
  min-width: -webkit-min-content;
}

.brand-header {
  color: darken($light-blue, 20%);
  white-space: nowrap;
  background: $medium-grey;
  border-radius: 4px;
  text-align: center;
  .glyphicon {
    font-size: 2.2em;
    margin-right: 5px;
  }
  > span {
    font-size: 2.2em;
    display: inline-block;
    vertical-align: middle;
  }
}

#map-canvas {
  height: calc(100vh - 50px);
  box-shadow: 2px 2px 2px lighten($medium-grey, 40%);
  width:100%;
}

@media (min-width: $screen-sm) {
  #map-canvas {
    border-bottom: none;
    border-left: none;
  }
  .map-container {
    padding: 0;
    padding-top: 15px;
    > div {
      position: fixed;
      width: inherit;
    }
  }
}

.list-panels {
  padding: 0;
  box-sizing: border-box;
  > div {
    margin: 5px 0;
    min-width: -webkit-min-content;
  }
}

.search-form {
  display: flex;
  .search-form-details {
    flex: auto;
    > input {
    outline: none;
    padding: 10px;
    box-shadow: inset 1px 1px 2px 0 lighten($medium-grey, 40%);
    transition: box-shadow 0.3s;
      &:focus {
        box-shadow: inset 1px 1px 2px 0 lighten($medium-grey, 70%);
      }
    }
    .btn-default {
      background-color: darken($light-blue, 30%);
      color: lighten($medium-grey, 80%);
      margin-top: 10px;
    }
  }
}

h3 {
  color: darken($light-blue, 20%);
  text-align: center;
  margin-top: 0;
}

.panel-default {
  background: lighten($medium-grey, 66%);
  box-shadow: 2px 2px 2px lighten($medium-grey, 40%);
  border-width: 0;
  margin-bottom: 5px;
  .panel-heading {
    background: $medium-grey;
  }
  .panel-body {
    padding: 5px 15px;
    > div {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
}

.restaurant-detail {
  .panel-heading {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    > span {
      flex-direction: row;
    }
    .back-arrow {
      display: block;
      top: 20px;
      left: 15px;
      width: 50px;
      height: 53px;
      background: $medium-grey;
      fill: darken($light-blue, 20%);
      background-image: url('./static/images/arrow-back.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: 28px;
      font-size: 0;
    }
    .place-icon {
      height: 53px;
      width: auto;
    }
    .detail-title {
      color: darken($light-blue, 20%);
      flex-grow: 2;
    }
  }
  .panel-body {
    display: flex;
    > div {
      flex: auto;
    }
    .restaurant-property {
      font-weight: bold;
    }
  }
}
